html, body, input {
    font-family: "Avant Garde","Century Gothic","AppleGothic", Candara, Tahoma, sans-serif;
    font-size:15px;
}

body {
    padding: 20px;
}

.top-info {
    font-size: 18px;
    padding: 4px;
}

nav {
    display: flex;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 4px;
    text-align: center;
}

nav a {
    width: 400px;
}

.progress {
    border: 1px solid black;
    display: flex;
    border-radius:6px;
}
.elapsed,.remaining {
    border-radius:6px;
    padding: 4px;
    text-align:center;
}
.elapsed {
    background: #cdeccd;
    border-right: 1px solid green;
}
.remaining {
    background: #ffffc5;
}

table {
    clear:both;
    border-collapse: collapse;
  }
  
  th, td {
      padding: 4px;
      text-align: right;
      font-weight: 400;
      border: 1px solid black;
  }
  
  th {
      text-align: center;
  }
  
  tr.DIFF{
      font-style: italic;
      font-size: smaller;
  }
  tr.POST{
      background: #0080002e;
  }
  tr.selected{
      background: #c4b95d7a;
  }
  